@charset "utf-8";

/*
------------------------------------------------------------
Project Name : hubura;
------------------------------------------------------------
*/
/* Reset
--------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: ProximaNova-Light;
    src: url('../font/ProximaNova-Light.woff');
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url('../font/ProximaNova-Regular.woff');
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url('../font/ProximaNova-Semibold.woff');
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url('../font/ProximaNova-Bold.woff');
}

/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.react-loading-skeleton{ border-radius: 24px!important; }
/* General
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'ProximaNova-Regular', sans-serif!important; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased; color: #212121;}
.wrapper { min-height: 100vh; }
a { color: #5A5A5A; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-size: 64px; line-height: 70px;}
h2 {font-size: 48px; line-height: 54px;}
h3 {font-size: 40px; line-height: 48px;}
h4 {font-size: 36px; line-height: 42px;}
h5 {font-size: 28px; line-height: 34px;}
h6 { font-size: 20px; line-height: 26px;}
p { padding: 0 0 20px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #5A5A5A; }
::-moz-placeholder { color: #5A5A5A; }
:-ms-input-placeholder { color: #5A5A5A; }
:-moz-placeholder { color: #5A5A5A; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.bold{font-weight: 700;}
.extra-bold{font-weight: 800;}
.black{font-weight: 900;}
.cursor-pointer{cursor: pointer!important;}
.fs-11{font-size: 11px; line-height: 15px;}
.fs-12{font-size: 12px; line-height: 16px;}
.fs-14{font-size: 14px; line-height: 20px;}

.ProximaNova-Light{ font-family: ProximaNova-Light; font-weight: 300; }
.ProximaNova-Regular{ font-family: ProximaNova-regular; font-weight: 400; }
.ProximaNova-Semibold{ font-family: ProximaNova-Semibold; font-weight: 600; }
.ProximaNova-Bold{ font-family: ProximaNova-Bold; font-weight: 700; }
.lowercase{ text-transform: lowercase!important; }
.uppercase{ text-transform: uppercase!important; }

/* Form Elements
--------------------------------------------------------------------------------------------------------*/
.btn.MuiButton-root{ font-weight: 600; text-transform: uppercase; font-family: ProximaNova-Semibold; letter-spacing: 0; font-size: 14px; padding: 11px 20px; line-height: 18px; box-shadow: none!important; border-radius: 6px; }

.MuiButton-containedPrimary{ background-image: linear-gradient(106deg, #302d89, #0b65b2 99%)!important; border-color: transparent!important;}
.MuiButton-containedPrimary:hover{background-image: linear-gradient(106deg, #0b65b2, #302d89 99%)!important;}

.MuiButton-text:hover{ background-image: linear-gradient(106deg, #302d89, #0b65b2 99%)!important; color: #FFF!important; }

.btn-iconic-text{ display: flex; }
.btn-iconic-text span, .btn-iconic-text img{ display: inline-block; vertical-align: middle; }
.btn-iconic-text img{ height: 18px; width: 18px; } 

.btn-lg{ font-size: 20px; line-height: 24px; padding: 12px 38px; }

/* Header
--------------------------------------------------------------------------------------------------------*/
header{ padding: 15px 35px; }
header .nav-brand{ display: inline-block; vertical-align: top; }
header .nav-brand img{ display: inline-block; vertical-align: top; }


/* Homepage 
--------------------------------------------------------------------------------------------------------*/

/* Banner */
.homepage-banner{ position: relative; padding: 120px 150px 200px; }
.homepage-banner::before{ content: ""; position: absolute; top: -70px; left: 0; bottom: 0; width: 300px; z-index: -1; background: url('../images/homepage/home-banner-left.png') no-repeat left top; background-size: contain; }
.homepage-banner::after{ content: ""; position: absolute; top: 110px; right: 55px; bottom: 0; width: 542px; height: 300px; z-index: -1; background: url('../images/homepage/home-banner.svg') no-repeat left top; background-size: contain; }
.homepage-banner h1{ color: #212121; max-width: 555px;}
.homepage-banner h1 + p{ color: #424242; font-size: 16px; line-height: 24px; max-width: 555px;}

/* Banner Search */
.banner-search{ max-width: 650px; display: flex; align-items: center;  }
.banner-search .banner-select-search{ min-width: 495px; max-width: 495px; display: flex; align-items: center; padding: 9px; border-radius: 6px; box-shadow: 0 2px 5px 0 rgba(100, 100, 100, 0.2); background-color: #ffffff; }
.banner-search .banner-select-search .location{ width: 24px; height: 24px; display: inline-block; vertical-align: middle; margin-right: 10px; }
.banner-search .banner-select-search input{ height: 30px; border: 0; width: 100%; font-size: 16px; line-height: 20px; color: #323441; border-left: 1px solid #e5e5e5; border-radius: 0; margin: 0 0 0 10px; padding: 0 12px; }
.banner-search button{ height: 50px; min-width: 142px; }
.banner-search .btn.MuiButton-root .MuiButton-label{ display: flex; align-items: center; }
.banner-search .btn.MuiButton-root .MuiButton-label span{ white-space: nowrap; font-size: 14px; line-height: 14px; }

.banner-search .banner-select-search ::-webkit-input-placeholder { color: #323441; }
.banner-search .banner-select-search ::-moz-placeholder { color: #323441; }
.banner-search .banner-select-search :-ms-input-placeholder { color: #323441; }
.banner-search .banner-select-search :-moz-placeholder { color: #323441; }

.banner-search .MuiFormControl-root.country-select .MuiInput-underline:after, .banner-search .MuiFormControl-root.country-select .MuiInput-underline:before{ display: none; }
.banner-search .MuiFormControl-root.country-select .MuiSelect-select:focus{ background: none; }
.banner-search .MuiFormControl-root.country-select{ min-width: 100px; max-width: 130px; }
.banner-search .MuiFormControl-root.country-select .MuiSelect-icon{ background: url('../images/chevron-down-dark.svg') no-repeat center; background-size: 16px 16px; transition: all 0.2s ease-in-out; }
.banner-search .MuiFormControl-root.country-select .MuiSelect-icon path{ display: none; }


/* how-habura-work */
.how-habura-work{ text-align: center; margin: 0 125px 60px; }
.how-habura-work-card{ padding: 40px 28px; border-radius: 10px; margin-bottom: 30px; transition: all 0.3s ease; }
.how-habura-work-card img{ width: 75px; height: 75px; display: block; margin: 0 auto 30px; }
.how-habura-work-card h6{ color: #110f57; line-height: 1.3; max-width: 166px; margin: 0 auto 12px; text-align: center; padding: 0; }
.how-habura-work-card p{ color: #424242; line-height: 1.63; font-size: 16px; padding: 0; }
.how-habura-work-card:hover{ box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1);  }


/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1600px) {
}

@media (max-width:1440px) {
}

@media (max-width:1199px) {
}

@media (max-width:991px) {
}

@media (max-width:767px) {
}

@media (max-width:575px) {
}

@media (max-width:375px) {
}
