@charset "utf-8";

/*
------------------------------------------------------------
Project Name : hubura;
------------------------------------------------------------
*/
@import url('../../../node_modules/aos/dist/aos.css');



/* Reset
--------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: ProximaNova-Light;
    src: url('../font/ProximaNova-Light.woff');
}
@font-face {
    font-family: ProximaNova-Regular;
    src: url('../font/ProximaNova-Regular.woff');
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url('../font/ProximaNova-Semibold.woff');
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url('../font/ProximaNova-Bold.woff');
}

/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.react-loading-skeleton{ border-radius: 24px!important; }
/* General
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'ProximaNova-Regular', sans-serif!important; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased; color: #212121;}
.wrapper { min-height: 100vh; }
a { color: #5A5A5A; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-size: 64px; line-height: 70px;}
h2 {font-size: 48px; line-height: 54px;}
h3 {font-size: 40px; line-height: 48px;}
h4 {font-size: 36px; line-height: 42px;}
h5 {font-size: 28px; line-height: 34px;}
h6 { font-size: 20px; line-height: 26px;}
p { padding: 0 0 20px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #5A5A5A; }
::-moz-placeholder { color: #5A5A5A; }
:-ms-input-placeholder { color: #5A5A5A; }
:-moz-placeholder { color: #5A5A5A; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.bold{font-weight: 700;}
.extra-bold{font-weight: 800;}
.black{font-weight: 900;}
.cursor-pointer{cursor: pointer!important;}
.fs-11{font-size: 11px; line-height: 15px;}
.fs-12{font-size: 12px; line-height: 16px;}
.fs-14{font-size: 14px; line-height: 20px;}
.fs-24{font-size: 24px; line-height: 30px;}

.ProximaNova-Light{ font-family: ProximaNova-Light; font-weight: 300; }
.ProximaNova-Regular{ font-family: ProximaNova-regular; font-weight: 400; }
.ProximaNova-Semibold{ font-family: ProximaNova-Semibold; font-weight: 600; }
.ProximaNova-Bold{ font-family: ProximaNova-Bold; font-weight: 700; }
.lowercase{ text-transform: lowercase!important; }
.uppercase{ text-transform: uppercase!important; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{ box-sizing: border-box; }

/* Form Elements
--------------------------------------------------------------------------------------------------------*/
.btn.MuiButton-root{ font-weight: 600; text-transform: uppercase; font-family: ProximaNova-Semibold; letter-spacing: 0; font-size: 14px; padding: 11px 20px; line-height: 18px; box-shadow: none!important; border-radius: 6px; }

.MuiButton-containedPrimary{ background-image: linear-gradient(106deg, #302d89, #0b65b2 99%)!important; border-color: transparent!important;}
.MuiButton-containedPrimary:hover{background-image: linear-gradient(106deg, #0b65b2, #302d89 99%)!important;}

.MuiButton-text:hover{ background-image: linear-gradient(106deg, #302d89, #0b65b2 99%)!important; color: #FFF!important; }

.MuiButton-outlinedPrimary{ border: 0!important; padding: 2px!important; border-radius: 6px!important;background-image: linear-gradient(106deg, #302d89, #0b65b2 99%)!important; overflow: hidden; }
.MuiButton-outlinedPrimary .MuiButton-label{ background: #FFF; padding: 6px 20px; border-radius: 4px!important; }
.MuiButton-outlinedPrimary:hover .MuiButton-label{ background-image: linear-gradient(106deg, #302d89, #0b65b2 99%)!important; color: #FFF!important;  }

.btn-iconic-text{ display: flex; }
.btn-iconic-text span, .btn-iconic-text img{ display: inline-block; vertical-align: middle; }
.btn-iconic-text img{ height: 18px; width: 18px; } 

.btn-lg{ font-size: 20px; line-height: 24px; padding: 12px 38px; }

.form-control.MuiFormControl-root{ display: block; width: 100%; margin-bottom: 20px; }
.form-control.MuiFormControl-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{ border-color: rgb(17 15 87); }
.form-control.MuiFormControl-root .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{ border-color: #e7e4f1; }
.form-control.MuiFormControl-root .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline{  border-color: rgb(17 15 87); }
.form-control.MuiFormControl-root .MuiInputBase-root .MuiInputBase-input{ color: #212121; font-size: 16px; line-height: 20px; }
.form-control.MuiFormControl-root .MuiFormLabel-root{ color: rgba(104, 104, 104, 0.5); }


/* radio-group */
.radio-group label{ font-size: 16px; line-height: 20px; color: #686868; display: block; margin-bottom: 8px; }










/* Wrapper
--------------------------------------------------------------------------------------------------------*/
.wrapper{ display: block; padding-bottom: 160px; overflow: hidden; }


/* Header
--------------------------------------------------------------------------------------------------------*/
header{ padding: 15px 35px; }
.homepage  header{ border-bottom: 1px solid #dadce0; }
header .nav-brand{ display: inline-block; vertical-align: top; }
header .nav-brand img{ display: inline-block; vertical-align: top; width: 136px; height: 38px; }
header .right-handle button{ height: 40px; }

/* Footer
--------------------------------------------------------------------------------------------------------*/
footer{ background: #f3f3f3; min-height: 160px; margin-top: -160px; }
footer .primary-footer{ padding: 30px 50px; }
footer .primary-footer .col-auto, footer .primary-footer .col{ display: flex; align-items: center; }
footer .primary-footer .col{ justify-content: flex-end; }
footer .primary-footer .nav-brand{ display: inline-block; vertical-align: top; }
footer .primary-footer .nav-brand img{ display: inline-block; vertical-align: top; width: 136px; height: 38px; }
footer .primary-footer .footer-links{ display: flex; align-items: center; justify-content: flex-end;}
footer .primary-footer .footer-links li{ display: inline-block; vertical-align: middle; }
footer .primary-footer .footer-links li + li{ margin-left: 15px; }
footer .primary-footer .footer-links li a{ display: inline-block; vertical-align: middle; font-size: 16px; line-height: 24px; color: #424242; }
footer .primary-footer .footer-links li a:hover{ color: #009fff; }

footer .secondary-footer{ position: relative;  padding: 9px 50px; overflow: hidden; border-top: 1px solid #e1e1e1; }
footer .secondary-footer .col-auto, footer .secondary-footer .col{ display: flex; align-items: center; }
footer .secondary-footer .col{ justify-content: flex-end; }
footer .secondary-footer p{ display: flex; align-items: center; color: #979797; font-size: 14px; line-height: 18px; padding: 0; }
footer .secondary-footer .social-links{ display: flex; align-items: center; justify-content: flex-end; }
footer .secondary-footer .social-links li{ display: inline-block; vertical-align: middle; }
footer .secondary-footer .social-links li a{ display: flex; align-items: center; justify-content: center; font-size: 16px; line-height: 24px; color: #424242; position: relative; border-radius: 50%; padding: 12px; }
footer .secondary-footer .social-links li a::before{ content: ""; position: absolute; top: 50%; left: 50%; right: 50%; bottom: 50%; transform-origin: center; background: rgb(17 15 87 / 20%); border-radius: 50%; width: 0; height: 0; transform: scale(0); transition: all 0.2s ease-in-out; }
footer .secondary-footer .social-links li a:hover::before{ top: 0; bottom: 0; left: 0; right: 0; transform: scale(1); width: 42px; height: 42px; }
footer .secondary-footer .social-links li a:hover{ color: #302d89; }



/* Homepage 
--------------------------------------------------------------------------------------------------------*/

/* Banner */
.homepage-banner{ position: relative; padding: 120px 0 150px; }
/* .common-spacing{ padding: 0 150px; } */
.homepage-banner::before{ content: ""; position: absolute; top: -70px; left: 0; bottom: -40px; width: 320px; z-index: -1; background: url('../images/homepage/home-banner-left.png') no-repeat left top; background-size: contain; }
.homepage-banner .container-xl{ position: relative; }
.homepage-banner .container-xl::after{ content: ""; position: absolute; top: 0; right: -100px; bottom: 0; width: 542px; height: 300px; z-index: -1; background: url('../images/homepage/home-banner.svg') no-repeat left top; background-size: contain; }
.homepage-banner h1{ color: #212121; max-width: 555px; min-height: 140px; }
.homepage-banner h1 + p{ color: #424242; font-size: 16px; line-height: 24px; max-width: 555px;}

/* Banner Search */
.banner-search{ max-width: 650px; display: flex; align-items: center;  }
.banner-search .banner-select-search{ min-width: 495px; max-width: 495px; display: flex; align-items: center; padding: 9px; border-radius: 6px; box-shadow: 0 2px 5px 0 rgba(100, 100, 100, 0.2); background-color: #ffffff; }
.banner-search .banner-select-search .location{ width: 24px; height: 24px; display: inline-block; vertical-align: middle; margin-right: 4px; }
.banner-search .banner-select-search input{ height: 30px; border: 0; width: 100%; text-overflow: ellipsis; overflow: hidden; font-size: 16px; line-height: 20px; color: #323441; border-left: 1px solid #e5e5e5; border-radius: 0; margin: 0 0 0 10px; padding: 0 12px; }
.banner-search button{ height: 50px; min-width: 142px; }
.banner-search .btn.MuiButton-root .MuiButton-label{ display: flex; align-items: center; }
.banner-search .btn.MuiButton-root .MuiButton-label span{ white-space: nowrap; font-size: 14px; line-height: 14px; }

.banner-search .banner-select-search ::-webkit-input-placeholder { color: #323441; }
.banner-search .banner-select-search ::-moz-placeholder { color: #323441; }
.banner-search .banner-select-search :-ms-input-placeholder { color: #323441; }
.banner-search .banner-select-search :-moz-placeholder { color: #323441; }

.banner-search .MuiFormControl-root.country-select .MuiInput-underline:after, .banner-search .MuiFormControl-root.country-select .MuiInput-underline:before{ display: none; }
.banner-search .MuiFormControl-root.country-select .MuiSelect-select:focus{ background: none; }
.banner-search .MuiFormControl-root.country-select{ min-width: 100px; max-width: 130px; }
.banner-search .MuiFormControl-root.country-select .MuiSelect-icon{ background: url('../images/chevron-down-dark.svg') no-repeat center; background-size: 16px 16px; transition: all 0.2s ease-in-out; }
.banner-search .MuiFormControl-root.country-select .MuiSelect-icon path{ display: none; }

/* how-habura-work */
.how-habura-work{ text-align: center; margin: 0 0 60px; }
.how-habura-work-card{ padding: 40px 28px; border-radius: 10px; margin-bottom: 30px; transition: all 0.3s ease; cursor: pointer; }
.how-habura-work-card img{ width: 75px; height: 75px; display: block; margin: 0 auto 30px; }
.how-habura-work-card h6{ color: #110f57; line-height: 1.3; max-width: 166px; margin: 0 auto 12px; text-align: center; padding: 0; }
.how-habura-work-card p{ color: #424242; line-height: 1.63; font-size: 16px; padding: 0; }
.how-habura-work-card:hover{ box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1);  }

/* Why People Love Hubura */
.why-people-love{ text-align: center; margin-top: -60px; padding: 60px 0 125px; overflow: hidden; }
.how-habura-work-slider.slick-slider .slick-list{ overflow: visible; }
.how-habura-work-slider.slick-slider .slick-list .slick-track{ margin-left: -30px; }

.how-habura-work-slider.slick-slider .slick-next, .how-habura-work-slider.slick-slider .slick-prev{ display: none!important; }
.how-habura-work-slider.slick-slider .slick-dots{ left: -60px; }
.how-habura-work-slider.slick-slider .slick-dots li{ width: 10px; height: 10px; }
.how-habura-work-slider.slick-slider .slick-dots li button{ display: flex; justify-content: center; align-items: center; width: 10px; height: 10px; }
.how-habura-work-slider.slick-slider .slick-dots li button::before{ font-size: 11px; line-height: 10px; width: 10px; height: 10px;}
.how-habura-work-slider.slick-slider .slick-dots li.slick-active{ width: 14px; height: 14px; }
.how-habura-work-slider.slick-slider .slick-dots li.slick-active button{ width: 14px; height: 14px; }
.how-habura-work-slider.slick-slider .slick-dots li.slick-active button::before{ font-size: 15px; line-height: 14px; width: 14px; height: 14px; color: #009fff; }

.organization-testimonial-card{ display: block; padding: 30px; cursor: pointer; border-radius: 10px; background-color: #ffffff; border: 1px solid #e4e4e4; text-align: left; margin: 15px; transition: all 0.3s ease; }
.organization-testimonial-card:hover{ border-color: transparent; box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); }
.organization-testimonial-card .organization-details{ margin-bottom: 12px; }
.organization-testimonial-card .organization-details i{ display: inline-block; vertical-align: top; width: 62px; height: 62px; border-radius: 50%; overflow: hidden; }
.organization-testimonial-card .organization-details i img{ max-width: 100%;display: inline-block; vertical-align: top; width: 62px; height: 62px; }
.organization-testimonial-card .organization-details div{ display: inline-block; vertical-align: top; padding: 5px 20px; }
.organization-testimonial-card .organization-details div h6{ font-size: 22px; line-height: 26px; color: #212121; font-family: ProximaNova-Semibold; font-weight: 600; padding-bottom: 0; margin-bottom: 4px; }
.organization-testimonial-card .organization-details div h6 span{ display: inline-block; vertical-align: middle; font-size: 18px; line-height: 22px; font-family: ProximaNova-Regular; font-weight: 400;  }
.organization-testimonial-card .organization-details div .MuiRating-root{ color: #ffad52; }
.organization-testimonial-card .organization-details div .MuiRating-readOnly span .MuiSvgIcon-root{ width: 18px; height: 18px; }
.organization-testimonial-card .organization-review{ padding: 0; font-size: 18px; line-height: 28px; color: #424242; margin-bottom: 55px; }

/* hot-jobs-wrapper */
.hot-jobs-wrapper{ text-align: center; margin: 0 0 60px; }
.hot-job-card{ padding: 30px; border-radius: 10px; margin-bottom: 30px; border: 1px solid #e4e4e4; transition: all 0.3s ease; cursor: pointer; text-align: left; }

.hot-job-card .organization-details{ margin-bottom: 15px; display: flex; align-items: start;  }
.hot-job-card .organization-details i{ display: inline-block; vertical-align: top; min-width: 70px; height: 70px; border-radius: 50%; overflow: hidden; }
.hot-job-card .organization-details i img{ max-width: 100%;display: inline-block; vertical-align: top; min-width: 70px; height: 70px; }
.hot-job-card .organization-details div{ display: inline-block; vertical-align: top; padding: 5px 20px; }
.hot-job-card .organization-details div h6{ font-size: 20px; line-height: 26px; color: #212121; font-family: ProximaNova-Semibold; font-weight: 600; padding-bottom: 0; margin-bottom: 4px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 200px; }
.hot-job-card .organization-details div span{ display: block; font-size: 18px; line-height: 22px;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 200px;  }
.hot-job-card .job-description{ font-size: 16px; line-height: 28px; color: #424242; height: 248px; overflow: hidden; }
.hot-job-card button{ width: 100%;display: block; font-weight: 600;font-family: ProximaNova-Semibold; }
.hot-job-card:hover{ box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); border-color: transparent; }


/* benefits-habura  */
.benefits-habura-wrapper{ position: relative; margin-bottom: 80px; }
.benefits-habura-wrapper:after{ content: ""; position: absolute; top: 0; right: 0; bottom: 0; width: 300px; z-index: -1; background: url('../images/homepage/homepage-bottom-right.png') no-repeat right top; background-size: contain; }
.benefits-habura-wrapper .benefits-habura-img{ display: block; width: 330px; height: 395px; max-width: 100%; margin-top: 85px; }

.benefits-habura-card-wrapper .benefits-habura-card{ padding: 30px; text-align: left; border-radius: 10px; margin-bottom: 30px; transition: all 0.3s ease; cursor: pointer; }
.benefits-habura-card-wrapper .benefits-habura-card:hover{ background: #FFF; box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.1); }
.benefits-habura-card-wrapper .benefits-habura-card img{ width: 60px; height: 60px; display: block; margin: 0 0 20px; }
.benefits-habura-card-wrapper .benefits-habura-card h6{ font-size: 20px; line-height: 26px; color: #110f57; margin: 0 0 8px; padding: 0; }
.benefits-habura-card-wrapper .benefits-habura-card p{ color: #424242; line-height: 26px; font-size: 16px; padding: 0; }


/* main-content */
.main-content{ padding: 50px 0; }

/* Privacy Policy */
.content-page h6, .content-page h4{ color: #212121; }
.content-page p{ color: #424242; font-size: 16px; line-height: 28px; }
p.colored-info{ margin: 20px 0 70px; text-align: center; padding: 30px 35px; font-size: 16px; line-height: 28px; color: #110f57; background: rgb(17 15 87 / 7%); border-radius: 8px; }
.primary-listing{ display: block; margin: 15px 0; }
.primary-listing li{ color: #424242; font-size: 16px; line-height: 20px; padding-left: 18px; position: relative; } 
.primary-listing li::before{ content: ""; position: absolute; top: 6px; left: 0; width: 6px; height: 6px; border-radius: 50%; display: block; background: #009fff; }
.primary-listing li + li{ margin-top: 8px; }


/* add-profile-stepper */
.add-profile-stepper-wrapper { display: flex; align-items: flex-start; padding: 0 35px; }
.add-profile-stepper-wrapper .MuiTabs-root + div{ min-width: calc(100% - 286px); }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit.Mui-selected, .add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit{ opacity: 1; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-wrapper .tab-step{ display: flex; align-items: center; border: 1px solid #dadce0; position: relative; border-radius: 6px; padding: 22px 25px;min-width: 228px; max-width: 228px; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-wrapper .tab-step i{ display: inline-block; vertical-align: top; position: relative; margin-right: 16px; width: 30px; height: 30px; display: inline-block; vertical-align: top; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-wrapper .tab-step i img{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 30px; height: 30px; display: block; margin: auto; transition: all 0.2s ease; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-wrapper .tab-step i img.active, .add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit.Mui-selected .tab-step i img.default, .add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit:hover .tab-step i img.default{ opacity: 0; visibility: hidden; transform: scale(0); }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit.Mui-selected .tab-step i img.active, .add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit:hover .tab-step i img.active { opacity: 1; visibility: visible; transform: scale(1); }

.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit.Mui-selected, .add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit:hover{ box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.2); transition: all 0.2s ease; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit.Mui-selected .tab-step p, .add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit:hover .tab-step p{ color: #110f57; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit.Mui-selected .tab-step p span, .add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit:hover .tab-step p span{ color: #838e9b; }

.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable{ padding: 10px 20px; margin: -10px -17px; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-textColorInherit{ padding: 0; margin-bottom: 15px; border-radius: 6px; min-width: 280px; max-width: 280px; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-wrapper .tab-step p{ display: inline-block; vertical-align: top; text-align: left; padding: 0; color: #cbcbcb; font-size: 16px; line-height: 20px;letter-spacing: -0.23px; transition: all 0.2s ease; text-transform: capitalize; font-family: ProximaNova-Bold; font-weight: 700; }
.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTab-wrapper .tab-step p span{ display: block; color: #d3d3d3; font-size: 14px; line-height: 18px; letter-spacing: -0.34px; font-family: ProximaNova-Regular; font-weight: 400; transition: all 0.2s ease;}

.add-profile-stepper-wrapper .MuiTabs-vertical .MuiTabs-scrollable .MuiTabs-indicator{ display: none; } 
.add-profile-stepper-wrapper .MuiBox-root{ padding: 0; }

.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content{ padding: 0 50px; }
.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .tab-title{ margin-bottom: 30px; }
.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .tab-title p{ font-size: 24px; line-height: 28px; font-family: ProximaNova-Bold; font-weight: 700; padding: 0; color: #212121; }
.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .tab-title span{ font-size: 16px; line-height: 20px; color: #424242; }

.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .choose-profile-pic{ display: flex; align-items: center; margin-bottom: 36px; }
.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .choose-profile-pic i{ display: flex; align-items: center; justify-content: center; min-width: 100px; height: 100px; background: #ededed; border-radius: 50%; overflow: hidden; margin-right: 20px; }
.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .choose-profile-pic i .uploaded-img{ width: 100px; height: 100px; display: block; border-radius: 50%; overflow: hidden; }

.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .choose-profile-pic div > span{ display: block; font-size: 14px; line-height: 19px; color: #838e9b; margin-top: 6px; }

.add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .form-control, .add-profile-stepper-wrapper .MuiBox-root .add-profile-tab-content .form-control .MuiInputBase-root{ width: 360px; }




















/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1600px) {
}

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1170px;}
}

@media (max-width:1439px) {
    .homepage-banner{ padding: 80px 40px 120px; }

    .why-people-love{ padding: 0 15px 80px; margin-top: 0; }
    .how-habura-work-slider.slick-slider .slick-dots{ left: 0; }
    .how-habura-work-slider.slick-slider .slick-list .slick-track{ margin-left: -30px; }

    .how-habura-work, .hot-jobs-wrapper{ margin: 0 0 40px; }
    
    .hot-job-card{ padding: 20px; }
    .main-content{ padding: 50px 35px; }
    
}

@media (max-width:1199px) {
    header{ padding: 15px; }
    .homepage-banner h1{ font-size: 48px; line-height: 54px; max-width: 400px; }
    .homepage-banner .container-xl::after{ opacity: 0.3; }
    .homepage-banner h1{ min-height: auto; }

    .hot-job-card .organization-details, .hot-job-card .organization-details div{ display: block; text-align: center; }
    .hot-job-card .organization-details div h6, .hot-job-card .organization-details div span{ max-width: 100%; }
    .hot-job-card .organization-details i{ margin: 0 auto 10px; min-width: 54px; height: 54px; }
    .hot-job-card .organization-details i img{ min-width: 54px; height: 54px; }
    .hot-job-card .organization-details div h6{ font-size: 18px; line-height: 22px; }
    .hot-job-card .organization-details div span{ font-size: 16px; line-height: 20px; }
    .hot-job-card .job-description{ font-size: 15px; line-height: 24px; height: auto; padding-bottom: 30px; }
    .hot-job-card .MuiButton-outlinedPrimary .MuiButton-label{ padding: 5px 0; }

    p.colored-info{ margin: 20px 0; padding: 15px 20px; line-height: 24px; }
    .main-content{ padding: 50px 0; }

    .wrapper{ padding-bottom: 121px; }
    footer .primary-footer{ padding: 15px 15px; }
    footer .secondary-footer{ padding: 5px 15px; }
    footer{ min-height: 121px; margin-top: -121px; }
}

@media (max-width:991px) {
    .benefits-habura-wrapper .benefits-habura-img{ max-width: 60%; margin: 20px auto; height: auto; }

    .organization-testimonial-card{ padding: 20px; margin: 10px; }
    .how-habura-work-slider.slick-slider .slick-list .slick-track{ margin-left: -25px; }
    .organization-testimonial-card .organization-review{ font-size: 16px; line-height: 24px; margin-bottom: 30px; } 
    .organization-testimonial-card .organization-details div h6{ font-size: 18px; line-height: 22px; }
    .organization-testimonial-card .organization-details i img, .organization-testimonial-card .organization-details i{ width: 54px; height: 54px; }
    .organization-testimonial-card .organization-details div{ padding: 3px 10px; }
}

@media (max-width:767px) {
    h4{ font-size: 28px;line-height: 34px; }
    header{ padding: 10px 15px; }
    header .nav-brand img{ max-width: 100%; width: auto; height: 32px; }
    .btn.MuiButton-root{ padding: 8px 12px; font-size: 14px; line-height: 18px; height: 34px; }

    .main-content{ padding: 50px 0; }

    .homepage-banner{ padding: 60px 15px 80px; }
    .homepage-banner h1{ font-size: 36px; line-height: 42px; max-width: 100%; }
    .homepage-banner .container-xl::after{ opacity: 0; display: none; }
    .banner-search .banner-select-search{ padding: 6px 8px; min-width: auto; max-width: 100%; }
    .banner-search .banner-select-search input, .banner-search .MuiFormControl-root.country-select .MuiSelect-select.MuiSelect-select{ font-size: 14px; line-height: 18px; }
    .banner-search .MuiFormControl-root.country-select{ min-width: 80px; max-width: 120px; }
    .banner-search{ max-width: 100%; }
    .banner-search .banner-select-search input{ padding: 0 0 0 8px; margin-left: 6px; }
    .banner-search .btn.MuiButton-root{ height: 43px; min-width: auto; padding: 6px 13px!important; }
    .how-habura-work-card{ padding: 20px; }
    .how-habura-work-card img{ width: 54px; height: 54px; margin: 0 auto 20px; }
    .benefits-habura-wrapper{ margin-bottom: 40px; }

    .hot-job-card{ margin-bottom: 20px; }

    .benefits-habura-card-wrapper .benefits-habura-card{ padding: 20px; margin-bottom: 20px; }
    .benefits-habura-card-wrapper .benefits-habura-card p{ line-height: 24px; font-size: 15px; }
    .benefits-habura-card-wrapper .benefits-habura-card img{ width: 54px; height: 54px; margin: 0 0 15px; }

    p.colored-info{ margin: 10px 0; font-size: 14px; line-height: 22px; }
    .primary-listing{ margin: 10px 0; }
    .primary-listing li{ font-size: 14px; line-height: 20px; padding-left: 14px; }
    .primary-listing li + li { margin-top: 6px; }
    
    .content-page h4{ padding-bottom: 12px; }
    .content-page h6{ font-size: 16px; line-height: 22px; }
    .content-page p{ font-size: 14px; line-height: 22px; }

    .wrapper{ padding-bottom: 107px; }
    footer{ min-height: 107px; margin-top: -107px; }
    footer .primary-footer{ padding: 12px 15px; }
    footer .secondary-footer{ padding: 6px 15px; }
    footer .primary-footer .nav-brand img{ height: 32px; width: auto; max-width: 100%; }
    footer .primary-footer .footer-links li a{ font-size: 14px; line-height: 18px; }
    footer .secondary-footer .social-links li a{ padding: 10px; }
    footer .secondary-footer .social-links li a:hover::before{ width: 38px; height: 38px; }
    footer .secondary-footer p{ font-size: 12px; line-height: 16px; }
}

@media (max-width:575px) {
    header .right-handle .btn.MuiButton-root{ height: auto; padding: 6px 9px; }

    .homepage-banner{ padding: 50px 10px; }
    .homepage-banner h1{ font-size: 28px; line-height: 34px; }
    .homepage-banner h1 + p{ font-size: 14px; line-height: 20px; }



    .content-page h4{ font-size: 22px; line-height: 28px; }

    .main-content{ padding: 30px 0; }

    .organization-testimonial-card .organization-details i{ display: block;  margin: 0 0 10px;}
    .organization-testimonial-card .organization-details div{ display: block; padding: 0; }

    .benefits-habura-info{ text-align: center; }

    .wrapper{ padding-bottom: 145px; }
    footer{ min-height: 145px; margin-top: -145px; }
    footer .primary-footer, footer .primary-footer .container-xl .col-auto, footer .primary-footer .container-xl .col{ display: block; }
    footer .primary-footer .footer-links{ justify-content: flex-start; flex-wrap: wrap; margin: 12px 0 0; } 
    footer .primary-footer .footer-links li + li{ margin-left: 0; }
    footer .primary-footer .footer-links li{ margin: 2px 12px 2px 0; } 
    footer .secondary-footer .social-links{ justify-content: center; }
}

@media (max-width: 425px) {
    .banner-search .banner-select-search{ display: block;}
    .banner-search .banner-select-search input{ border-left: 0; border-top: 1px solid #efefef; margin: 4px 0 0; padding: 4px 0 0; }
    .banner-search .MuiFormControl-root.country-select { min-width: calc(100% - 25px); max-width: 100%;}
    .banner-search .banner-select-search .location{ width: 20px; height: 20px; }
}
